<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="656b0d97-e3bd-4357-897e-823b7e794c26" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://maps.googleapis.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="656b0d97-e3bd-4357-897e-823b7e794c26fileName">http%3A%2F%2Fmaps.googleapis.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://maps.googleapis.com</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="89fa0b15-b848-4922-9aa1-638703a4e816"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>