<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b8c9262b-a7d4-4ed4-adcb-41075fc73df2" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b8c9262b-a7d4-4ed4-adcb-41075fc73df2fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="89fa0b15-b848-4922-9aa1-638703a4e816"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>